# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Secrets
.env
**/.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Frontend build
dist/
build/

# Hardhat
smart-contract/artifacts/
smart-contract/cache/
smart-contract/ignition/

# Logs
*.log
